# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [105]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

In [106]:
# Algumas configurações para o matplotlib.
#%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [107]:
countries = pd.read_csv("countries.csv")

In [108]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [109]:
# Sua análise começa aqui.

# Observando os tipos
countries.dtypes

Country              object
Region               object
Population            int64
Area                  int64
Pop_density          object
Coastline_ratio      object
Net_migration        object
Infant_mortality     object
GDP                 float64
Literacy             object
Phones_per_1000      object
Arable               object
Crops                object
Other                object
Climate              object
Birthrate            object
Deathrate            object
Agriculture          object
Industry             object
Service              object
dtype: object

In [110]:
# Pegando apenas o que é numérico
colunas_numericas = countries.dtypes.index.tolist()[4:]
colunas_numericas.remove('GDP')
# OBS: Population, Area e GDP já estão convertidas para numérico

In [111]:
print(colunas_numericas)

['Pop_density', 'Coastline_ratio', 'Net_migration', 'Infant_mortality', 'Literacy', 'Phones_per_1000', 'Arable', 'Crops', 'Other', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service']

In [112]:
# Transformando as colunas object em float64
for colunas in colunas_numericas:
    countries[colunas] = countries[colunas].str.replace(',','.').astype('float')

In [113]:
# Observando resultado
c_original = countries.copy() # Salvando para calculos posteriores
countries

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [114]:
strip_columns = countries.columns[:2]

for colunas in strip_columns:
    countries[colunas] = countries[colunas].str.strip()

In [115]:
countries

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [116]:
# Passo a Passo: Obtem valores -> ordena valores -> pega únicos -> transforma em lista

resposta_q1 = countries['Region'].sort_values().unique().tolist()
countries['Region'].sort_values().unique().tolist()

['ASIA (EX. NEAR EAST)',
 'BALTICS',
 'C.W. OF IND. STATES',
 'EASTERN EUROPE',
 'LATIN AMER. & CARIB',
 'NEAR EAST',
 'NORTHERN AFRICA',
 'NORTHERN AMERICA',
 'OCEANIA',
 'SUB-SAHARAN AFRICA',
 'WESTERN EUROPE']

In [117]:
type(resposta_q1)

list

In [118]:
def q1():
    return resposta_q1

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [119]:
from sklearn.preprocessing import KBinsDiscretizer

kbd = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')
countries['Discretized_Pop_Density'] = kbd.fit_transform(countries['Pop_density'].values.reshape(-1,1))
countries

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,...,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Discretized_Pop_Density
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,...,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,3.0
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,...,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,6.0
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,...,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,1.0
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,...,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN,8.0
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,...,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,...,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630,9.0
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,...,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400,0.0
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,...,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393,3.0
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,...,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489,1.0
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,...,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579,2.0

In [120]:
# Observando pela coluna original e método quantile
countries[countries['Pop_density'] > countries['Pop_density'].quantile(0.9)]['Country'].nunique()

23

In [121]:
# Observando na coluna discretizada
countries[countries['Discretized_Pop_Density'] == 9.]['Country'].nunique()

23

In [122]:
resposta_q2 = countries[countries['Discretized_Pop_Density'] == 9.]['Country'].nunique()

In [123]:
def q2():
    return resposta_q2

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [124]:
# Verificando NaN's primeiro:
countries[['Region','Climate']].isna().sum()

Region      0
Climate    22
dtype: int64

In [125]:
countries.shape

(227, 21)

In [126]:
countries_drop = countries.dropna()

In [127]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)
ohe_countries = ohe.fit_transform(countries_drop[['Region','Climate']])

# Quantidade de colunas novas:
resposta_q3 = int((ohe_countries.shape[1]) + 1) # 2-> Colunas originais

In [128]:
def q3():
    return resposta_q3

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [129]:
# Pegando as colunas int64 e flaot64

col_num_labels = c_original.dtypes[((countries.dtypes == 'int64') | (countries.dtypes == 'float64'))].index.tolist()

# podemos usar [2:]

col_num = list(range(2,len(c_original.columns)))

# Poderia apenas pegar o nome das colunas, mas em testes anteriores facilitou na imputação do dataset mas prejudicou em 
# imputar direto nos dados novos, por isso decidi pegar os numeros das colunas apenas.

# Peguei o dataset original pois foi adicionado uma coluna discretizada lá em cima que poderia prejudicar aqui

In [130]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

imp = SimpleImputer(strategy='median')
scaler = StandardScaler() 

transformer = ColumnTransformer(transformers=[('num', imp, col_num)])

steps = [('Transfomer', transformer),
        ('Scaler', scaler)]

pipe = Pipeline(steps)

pipe.fit_transform(c_original)

array([[ 0.01969468,  0.02758332, -0.19984434, ...,  1.63657562,
        -0.31540576, -1.1611354 ],
       [-0.21387688, -0.31879748, -0.15360296, ...,  0.59516349,
        -0.70631815,  0.08342432],
       [ 0.03561811,  0.99842051, -0.22048996, ..., -0.32662697,
         2.39091078, -1.67396905],
       ...,
       [-0.06192308, -0.03933023, -0.20431152, ..., -0.08738364,
         1.4286649 , -1.0798325 ],
       [-0.14654488,  0.08642673, -0.21958445, ...,  0.51072467,
         0.06047154, -0.47944188],
       [-0.14029829, -0.11624192, -0.20992568, ...,  0.22222537,
        -0.29285312,  0.08342432]])

In [131]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [132]:
# Verificando tamanho
len(test_country)

20

In [133]:
# Criando um dataframe para facilitar a passagem do Pipeline
novosdados = pd.DataFrame([test_country],columns=new_column_names)

In [134]:
resultado_tran = pipe.transform(novosdados)

In [135]:
novosdados_tran = novosdados
novosdados_tran[col_num_labels] = resultado_tran

In [136]:
novosdados_tran

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Test Country,NEAR EAST,-0.244325,-0.334891,-0.228847,-0.29726,0.019591,-1.028617,-0.966233,-4.354272,-1.03721,-1.046857,-0.550581,-5.101122,-1.218122,-2.024552,-1.990921,-7.04915,-0.139155,0.034903

In [137]:
arable_var = round(novosdados_tran['Arable'], 3)
arable_var

0   -1.047
Name: Arable, dtype: float64

In [138]:
resposta_q4 = float(arable_var)

In [139]:
def q4():
    return resposta_q4

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [140]:
quartil1 = c_original['Net_migration'].quantile(0.25)
quartil3 = c_original['Net_migration'].quantile(0.75)
iqr = quartil3-quartil1

superior = quartil3 + 1.5 * iqr
inferior = quartil1 - 1.5 * iqr

superior, inferior

(3.885, -3.8149999999999995)

In [141]:
outliers_acima = c_original[(c_original['Net_migration'] > superior)].shape[0]
outliers_abaixo = c_original [(c_original['Net_migration'] < inferior)].shape[0]
outliers_acima, outliers_abaixo

(26, 24)

In [142]:
# Analisando os resultados

c_original[(c_original['Net_migration'] > superior) | (c_original['Net_migration'] < inferior)]

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
6,Anguilla,LATIN AMER. & CARIB,13477,102,132.1,59.80,10.76,21.03,8600.0,95.0,460.0,0.00,0.00,100.00,2.0,14.17,5.34,0.040,0.180,0.780
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,11000.0,89.0,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.220,0.743
9,Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.00,-6.47,23.28,3500.0,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,91.9,0.00,-4.90,81.74,3400.0,97.0,137.1,19.63,2.71,77.66,1.0,20.74,9.75,0.141,0.457,0.402
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,151.0,52.29,10.01,18.05,16000.0,97.8,506.5,20.00,6.67,73.33,2.0,14.89,4.42,0.018,0.062,0.920
30,Bulgaria,EASTERN EUROPE,7385367,110910,66.6,0.32,-4.58,20.55,7600.0,98.6,336.3,40.02,1.92,58.06,3.0,9.65,14.27,0.093,0.304,0.603
36,Canada,NORTHERN AMERICA,33098932,9984670,3.3,2.02,5.96,4.75,29800.0,97.0,552.2,4.96,0.02,95.02,NaN,10.78,7.80,0.022,0.294,0.684
37,Cape Verde,SUB-SAHARAN AFRICA,420979,4033,104.4,23.93,-12.07,47.77,1400.0,76.6,169.6,9.68,0.50,89.82,3.0,24.87,6.55,0.121,0.219,0.660
38,Cayman Islands,LATIN AMER. & CARIB,45436,262,173.4,61.07,18.75,8.19,35000.0,98.0,836.3,3.85,0.00,96.15,2.0,12.74,4.89,0.014,0.032,0.954
56,Dominica,LATIN AMER. & CARIB,68910,754,91.4,19.63,-13.87,14.15,5400.0,94.0,304.8,6.67,20.00,73.33,2.0,15.27,6.73,0.177,0.328,0.495
59,Ecuador,LATIN AMER. & CARIB,13547510,283560,47.8,0.79,-8.58,23.66,3300.0,92.5,125.6,5.85,4.93,89.22,2.0,22.29,4.23,0.070,0.312,0.618
70,French Guiana,LATIN AMER. & CARIB,199509,91000,2.2,0.42,6.27,12.07,8300.0,83.0,255.6,0.14,0.05,99.81,2.0,20.46,4.88,0.066,0.156,0.778
75,Georgia,C.W. OF IND. STATES,4661473,69700,66.9,0.44,-4.70,18.59,2500.0,99.0,146.6,11.44,3.86,84.70,3.0,10.41,9.23,0.172,0.275,0.553
80,Greenland,NORTHERN AMERICA,56361,2166086,0.0,2.04,-8.37,15.82,20000.0,NaN,448.9,0.00,0.00,100.00,1.0,15.93,7.84,NaN,NaN,NaN
81,Grenada,LATIN AMER. & CARIB,89703,344,260.8,35.17,-13.92,14.62,5000.0,98.0,364.5,5.88,29.41,64.71,2.0,22.08,6.88,0.054,0.180,0.766
91,Hong Kong,ASIA (EX. NEAR EAST),6940432,1092,6355.7,67.12,5.24,2.97,28800.0,93.5,546.7,5.05,1.01,93.94,2.0,7.29,6.29,0.001,0.092,0.906
98,Ireland,WESTERN EUROPE,4062235,70280,57.8,2.06,4.99,5.39,29600.0,98.0,500.5,15.20,0.03,84.77,3.0,14.45,7.82,0.050,0.460,0.490
99,Isle of Man,WESTERN EUROPE,75441,572,131.9,27.97,5.36,5.93,21000.0,NaN,676.0,9.00,0.00,91.00,3.0,11.05,11.19,0.010,0.130,0.860
102,Jamaica,LATIN AMER. & CARIB,2758124,10991,250.9,9.30,-4.92,12.36,3900.0,87.9,124.0,16.07,10.16,73.77,2.0,20.82,6.52,0.049,0.337,0.615
105,Jordan,NEAR EAST,5906760,92300,64.0,0.03,6.59,17.35,4300.0,91.3,104.5,2.67,1.83,95.50,1.0,21.25,2.65,0.033,0.287,0.680
111,Kuwait,NEAR EAST,2418393,17820,135.7,2.80,14.18,9.95,19000.0,83.5,211.0,0.73,0.11,99.16,1.0,21.94,2.41,0.004,0.479,0.516
119,Liechtenstein,WESTERN EUROPE,33987,160,212.4,0.00,4.85,4.70,25000.0,100.0,585.5,25.00,0.00,75.00,4.0,10.21,7.18,0.060,0.390,0.550
121,Luxembourg,WESTERN EUROPE,474413,2586,183.5,0.00,8.97,4.81,55100.0,100.0,515.4,23.28,0.40,76.32,NaN,11.94,8.41,0.010,0.130,0.860
122,Macau,ASIA (EX. NEAR EAST),453125,28,16183.0,146.43,4.86,4.39,19400.0,94.5,384.9,0.00,0.00,100.00,2.0,8.48,4.47,0.001,0.072,0.927
130,Marshall Islands,OCEANIA,60422,11854,5.1,3.12,-6.04,29.45,1600.0,93.7,91.2,16.67,38.89,44.44,2.0,33.05,4.78,0.317,0.149,0.534
134,Mayotte,SUB-SAHARAN AFRICA,201234,374,538.1,49.52,6.78,62.40,2600.0,NaN,49.7,NaN,NaN,NaN,2.0,40.95,7.70,NaN,NaN,NaN
135,Mexico,LATIN AMER. & CARIB,107449525,1972550,54.5,0.47,-4.87,20.91,9000.0,92.2,181.6,12.99,1.31,85.70,1.5,20.69,4.74,0.038,0.259,0.702
136,"Micronesia, Fed. St.",OCEANIA,108004,702,153.9,870.66,-20.99,30.21,2000.0,89.0,114.8,5.71,45.71,48.58,2.0,24.68,4.75,0.289,0.152,0.559
138,Monaco,WESTERN EUROPE,32543,2,16271.5,205.00,7.75,5.43,27000.0,99.0,1035.6,0.00,0.00,100.00,NaN,9.19,12.91,0.170,NaN,NaN
149,New Zealand,OCEANIA,4076140,268680,15.2,5.63,4.05,5.85,21600.0,99.0,441.7,5.60,6.99,87.41,3.0,13.76,7.53,0.043,0.273,0.684
153,N. Mariana Islands,OCEANIA,82459,477,172.9,310.69,9.61,7.11,12500.0,97.0,254.7,13.04,4.35,82.61,2.0,19.43,2.29,NaN,NaN,NaN
166,Qatar,NEAR EAST,885359,11437,77.4,4.92,16.29,18.61,21500.0,82.5,232.0,1.64,0.27,98.09,1.0,15.56,4.72,0.002,0.801,0.197
172,Saint Kitts & Nevis,LATIN AMER. & CARIB,39129,261,149.9,51.72,-7.11,14.49,8800.0,97.0,638.9,19.44,2.78,77.78,2.0,18.02,8.33,0.035,0.258,0.707
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,29.0,49.59,-4.86,7.54,6900.0,99.0,683.2,13.04,0.00,86.96,NaN,13.52,6.83,NaN,NaN,NaN
175,Saint Vincent and the Grenadines,LATIN AMER. & CARIB,117848,389,303.0,21.59,-7.64,14.78,2900.0,96.0,190.9,17.95,17.95,64.10,2.0,16.18,5.98,0.100,0.260,0.640
176,Samoa,OCEANIA,176908,2944,60.1,13.69,-11.70,27.71,5600.0,99.7,75.2,21.20,24.38,54.42,2.0,16.43,6.62,0.114,0.584,0.302
177,San Marino,WESTERN EUROPE,29251,61,479.5,0.00,10.98,5.73,34600.0,96.0,704.3,16.67,0.00,83.33,NaN,10.02,8.17,NaN,NaN,NaN
182,Seychelles,SUB-SAHARAN AFRICA,81541,455,179.2,107.91,-5.69,15.53,7800.0,58.0,262.4,2.22,13.33,84.45,2.0,16.03,6.29,0.032,0.304,0.665
184,Singapore,ASIA (EX. NEAR EAST),4492150,693,6482.2,27.85,11.53,2.29,23700.0,92.5,411.4,1.64,0.00,98.36,2.0,9.34,4.28,0.000,0.339,0.661
188,Somalia,SUB-SAHARAN AFRICA,8863338,637657,13.9,0.47,5.37,116.70,500.0,37.8,11.3,1.67,0.04,98.29,1.0,45.13,16.63,0.650,0.100,0.250
193,Suriname,LATIN AMER. & CARIB,439117,163270,2.7,0.24,-8.81,23.57,4000.0,93.0,184.7,0.37,0.06,99.57,2.0,18.02,7.27,0.130,0.220,0.650
196,Switzerland,WESTERN EUROPE,7523934,41290,182.2,0.00,4.05,4.39,32700.0,99.0,680.9,10.42,0.61,88.97,3.0,9.71,8.49,0.015,0.340,0.645
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,207.9,7.06,-10.83,24.31,9500.0,98.6,303.5,14.62,9.16,76.22,2.0,12.90,10.57,0.007,0.570,0.423
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,49.2,90.47,11.68,15.67,9600.0,98.0,269.5,2.33,0.00,97.67,2.0,21.84,4.21,NaN,NaN,NaN
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,56.9,9.84,-8.94,8.03,17200.0,NaN,652.8,11.76,2.94,85.30,2.0,13.96,6.43,0.010,0.190,0.800

In [143]:
# A váriavel net_migration é resultado da diferença entre imigração / emigração, e tem países que claramente tem um 
# número mais discrepante deste parametro. Não é válido retirar pois é uma informação importante sendo perdida.

removeria = False

In [153]:
resposta_q5 = (outliers_abaixo,outliers_acima, removeria)
resposta_q5

(24, 26, False)

In [154]:
def q5():
    return resposta_q5

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [146]:
from sklearn.datasets import fetch_20newsgroups

categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)

In [147]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

# Retornará matrix esparsa
newsgroup_vect = vectorizer.fit_transform(newsgroup['data'])

# Pegando nomes (neste caso as palavras)
nomes = vectorizer.get_feature_names()
# Transformando a matrix esparsa em array
array_cv = newsgroup_vect.toarray()

# Criando dataframe para poder controlar visualmente
qtde_de_phones = pd.DataFrame(array_cv, columns=nomes)['phone'].sum()

# Demonstração da coluna ''phone''
pd.DataFrame(array_cv, columns=nomes)['phone']

0       0
1       0
2       0
3       0
4       0
       ..
1768    0
1769    0
1770    0
1771    0
1772    0
Name: phone, Length: 1773, dtype: int64

In [148]:
resposta_q6 = int(qtde_de_phones)

In [149]:
def q6():
    return resposta_q6

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [150]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer2 = TfidfVectorizer()
tfidf_ng = vectorizer2.fit_transform(newsgroup['data'])

# Mesmo processo anterior
nomes = vectorizer2.get_feature_names()
matrix = tfidf_ng.toarray()

# Transformndo em df
tfidf_df = pd.DataFrame(matrix, columns=nomes)
tfidf_phone = tfidf_df['phone'].sum()

In [151]:
resposta_q7 = float(round(tfidf_phone,3))
resposta_q7

8.888

In [152]:
def q7():
    return resposta_q7